{% extends "layout.html" %}

{% block content %}
<div class="jumbo">
<br>
  <h1>About Us<h1>
  <p><h2>If you have questions, suggestions, need something additional or are interested on our technology which performs natural language processing and linguistic categorization, please feel free to contact us.  If we use your suggestion on the site and you are in NYC, we will gladly buy coffee!<p>
  <p>Thanks again!  Happy Mining!!
  <a href="mailto:info@twittermining.com">Info@TwitterMining.com</a></p>
  TwitterMining.com is developed and maintained by <a href="http://www.BaseXVI.com">Base XVI.com</a>, a machine learning and data science company.</h2>
 </div>
{% endblock %}
