{% extends "layout.html" %}

{% block content %}
<div class="jumbo">
	<h1>Here's how it works:<h1>
    <h3><b>STEP 1:</b>  Input a keyword, hashtag, user, brand name, etc... you would like to search twitter for.  Example: <b><i>gopro</i></b> or <b><i>cafe bustelo</i></b> or <b><i>#porkstain</i></b> or <b><i>@BitScavenger</i></b>. You can use a word, series of words or a phrase with spaces and it will be searched literally.  Searches are not case sensitive and you do not need quotes.</h3>
    <br>
    <h3><b>STEP 2:</b>  Once you input your term, choose either popular tweets or mixed.  <b><i>Popular</i></b> tweets will provide a list of the 15 most popular tweets over the past few days.  <b><i>Mixed</i></b> will provide the last 1000 or so tweets with analysis.</h3>
    <br>
    <h3><b>STEP 3:</b>  The mixed result is a corpus of terms and hashtags surrounding your keyword accompanied by some useful metrics.  Popular results are a list of the 15 most popular tweets.  Results are provided including the top terms and hashtags, ranked users, hourly time trending and an excerpt of tweet list.  Email yourself the results to obtain the complete list of tweets.</h3>
    <br>
    <h2><i>Profanity and derogatory language is filtered out.  It's just not cool!</i></h2>
    <br>
    <h2>Go forth and commence <b>TwitterMining<b>!!</h2>
</div>
{% endblock %}
